<div id="at_showcase">
	<div class="at_blog_cover" {{#if image}}style="background-image: url({{image}});height:400px"{{/if}}>
	    <div class="at_showcase_overlay {{#if image}}at_with_blog_cover{{/if}}">
			<div class="row">
				<div class="large-12 large-centered columns">
					<div class="at_block">
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
