<div id="at_showcase">
	<div class="at_blog_cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	    <div class="at_showcase_overlay {{#if @blog.cover}}at_with_blog_cover{{/if}}">
			<div class="row">
				<div class="large-12 large-centered columns">
					<div class="at_block">
						<div class="text-center">
							<h1 class="at_title">{{@blog.title}}</h1>
							<h3 class="at_subtitle">{{@blog.description}}</h3>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
